@import 'partials/global';

html, body, .content {
  background: $cream;
}

.header {
  position: absolute;
  background: rgba($header_bg, .85);
  z-index: 1000;
}

.hero {
  position: relative;
  height: 100vh; // I hate css
  background: $cream;
  z-index: 1;
  animation-name: hero-bg;
  animation-delay: 3s;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

  .hero-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #FFF;
    text-align: center;
    opacity: 0;
    animation-name: fade-in;
    animation-duration: .55s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 4 * .65s + .5;

    .text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      font-size: 375%;
      .subtext {
        font-size: 55%;
        font-family: $alt_font;
        letter-spacing: 8px;
      }
    }
  }

  .hero-animate-wrapper {
    $children: 4;
    $colors: #CBE1BF, #9EBFA8, #78979F, $dark;
    $delay: .65s;

    position: absolute;
    width: 100%;
    height: 100%;

    animation-name: fade-out;
    animation-duration: .75s;
    animation-delay: $children * $delay + .5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    .paper {
      position: absolute;
      height: 100%;
      width: 100%;
      left: -100%;
      animation-name: slide-right;
      animation-duration: 1.25s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
      will-change: transform;

      @for $i from 1 through $children {
        &:nth-child(#{$i}) {
          animation-delay: ($i - 1) * $delay;
          background: nth($colors, $i);
        }
      }
    }
  }

  .hero-canvas {
    z-index: 99;
  }
}

.tools {
  padding-left: 16px;
  padding-right: 16px;
  background: $cream;

  .tools-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 975px;
  }

  .title {
    font-family: $alt_font;
    font-size: 225%;
    color: $dark;
  }

  .tools {
    margin: 0;
    padding: 0;
    width: 100%;
    //border: 4px solid lighten($dark, 12%);
  }
}

.projects {
  padding-top: 4px;
  padding-bottom: 44px;
  padding-left: 8px;
  padding-right: 8px;
  background: $dark;

  .projects-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 975px;
    color: $cream;

    .title {
      padding-top: 16px;
      font-size: 225%;
    }

    .project {
      &:NOT(:first-child) {
        margin-top: 24px;
      }

      .name {
        color: $cream;
        font-size: 175%;
        font-weight: bold;
        font-family: $alt_font;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .description {
        font-weight: lighter;
      }

      .tech {
        padding-top: 8px;
        &:before {
          content: 'My Toolbox: ';
          font-size: 135%;
        }
        .item {
          display: inline-block;
          font-size: 125%;
          &:NOT(:last-child) {
            &:after {
              content: ',';
            }
          }
          &:NOT(:first-child) {
            padding-left: 8px;
          }
        }
      }
    }
  }
}

.contact {
  padding-top: 16px;
  padding-left: 8px;
  padding-right: 8px;
  // padding-bottom: 64px;
  padding-bottom: 8px;
  background: $cream;

  .contact-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 775px;

    .email a {
      color: darken(skyblue, 17%);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      @media screen and (max-width: $header_breakpoint) {
        font-size: 65%;
      }
    }

    .title {
      font-size: 225%;
      font-weight: bold;
      font-family: $alt_font;
      color: $dark;
    }

    .contact-form {
      width: 100%;

      .group {
        position: relative;
        margin-top: 32px;
      }

      label {
        position: absolute;
        display: block;
        top: 0;
        left: 2px;
        z-index: 100;
        transform: translateY(-100%);
        font-size: 112%;
        color: $dark;
        font-family: $alt_font;
        font-weight: bold;
      }

      input[type="text"],
      input[type="email"],
      textarea {
        position: relative;
        display: block;
        font-size: 112%;
        padding: 8px;
        border-radius: 1px;
        border: none;
        outline: none;
        resize: none;
        color: $white;
        background: lighten($dark, 15%);

        &::-webkit-input-placeholder {
          color: darken($white, 5%);
        }

        &:moz-input-placeholder {
          color: darken($white, 5%);
        }

        &::moz-input-placeholder {
          color: darken($white, 5%);
        }

        &:-ms-input-placeholder {
          color: darken($white, 5%);
        }
      }

      input[type="text"],
      input[type="email"] {
        width: 100%;
        max-width: 275px;
      }

      textarea {
        margin-top: 16px;
        width: 100%;
        height: 325px;
        font-size: 125%;
      }

      .submit-button {
        float: right;
        margin-top: 8px;
        border: none;
        outline: none;
        border-radius: 2px;
        color: #FFF;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 100%;
        background: lighten($dark, 15%);
        cursor: pointer;

        &:hover {
          transform: translateY(-2px);
          box-shadow: 0 2px 0 $dark;
        }

        &:active {
          transform: translateY(1px);
          box-shadow: inset 0 1px 2px $dark;
        }
      }
    }
  }
}

@keyframes slide-right {
  to {
    transform: translateX(100%);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hero-bg {
  0% {
    background: #F3EEDF;
  }
  100% {
    background: $hero_bg;
  }
}
