doctype html
html(charset="UTF-8")
  head
    title
      block title
      |  - Jake Hamilton
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no")
    block meta
    
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300|Montserrat:400,700")
    block css
  
    script(src="assets/js/global.js")
    block js
  
  body
    .off-canvas
      .menu-icon.fa.fa-bars
      .nav
        .link
          a(href="index.html") Home
        .link
          a(href="portfolio.html") Portfolio
        .link
          a(href="contact.html") Contact
        .link
          a(href="//github.com/jakehamilton") Github
    .page.is-desktop
      .header
        include header
      
      .content
        block content
      
      .footer
        include footer
