footer
  .left
    .nav
      a.link(href="index.html") Home
      a.link(href="portfolio.html") Portfolio
      a.link(href="contact.html") Contact
      a.link(href="//github.com/jakehamilton") GitHub
  .right
    | &copy;2015 Jake Hamilton
