header
  .desktop
    .left
      .brand
        | Jake Hamilton
    .right
      .nav
        a.link(href="index.html") Home
        a.link(href="portfolio.html") Portfolio
        a.link(href="index.html#contact") Contact
        a.link(href="//github.com/jakehamilton") GitHub
  .mobile
    a.fa.fa-bars.menu-icon
