extends templates/boiler

block css
  link(rel="stylesheet" href="assets/css/index.css")

block js
  script(src="assets/js/index.js")

block title
  | Home
  
block content
  .hero
    .hero-wrapper
      .text
        | Jake Hamilton
        .subtext
          | Web Developer
    .hero-animate-wrapper
      .paper
      .paper
      .paper
      .paper
    canvas.hero-canvas(width="0" height="0")
  .tools
    .tools-wrapper
      h2.title
        | I use these a lot
        img(src="assets/img/common-tools-1.png").tools
          
      h2.title
        | I also know how to use these
        img(src="assets/img/other-tools-1.png").tools
        img(src="assets/img/other-tools-2.png").tools
  .projects
    .projects-wrapper
      h2.title
        | Lately I've been working on
      .project
        a(href="//beyondthefringeoc.com").name
          | Beyond The Fringe OC
        .description
          | Beyond The Fringe OC provided a different set of challenges being that it is a beauty salon requiring both style and simplicity. I was tasked with creating a new, modern, and familiar design that is both desktop and mobile friendly to empower every customer.
        .tech
          .item Gulp
          .item Jade
          .item Sass
          .item AutoPrefixer
          .item Browser Sync
  .contact
    .contact-wrapper
      h2.title
        | Get in touch
      form(action="").contact-form
        .group
          label(for="name") Name
          input(type="text" placeholder="John Doe" required).name-input#name
        .group
          label(for="email") Email
          input(type="email" placeholder="john@email.com" required).email-input#email
        .group
          label(for="message") Message
          textarea(placeholder="Say what again..." required).body-input#message
        button(type="submit").submit-button Send
  .clearfix
